In [2]:
# Ejecutar el siguiente comando si aun no tienes la libreria "Pandas" instalada:
#                         !conda install pandas

In [27]:
import pandas as pd

### Cargar el Archivo CSV "ejemplo" con la libreria pandas y visualizar su contenido (Archivo Adjunto en la Tarjeta de Trello):

### Cargar el Archivo Excel "Excel_Sample" (archivo Adjunto en la Tarjeta de Trello) y visualizar su contenido (Utilizando la libreria Pandas):

### Crea un DataFrame de Pandas con los siguientes Datos e imprimelos en pantalla:

In [ ]:
#Tabla1:
#   Nombre  Edad  Genero    Id
#   Carmen    26       F  1743
#    Pedro    39       M  9264
#    Maria    28       F  8362
#    Julio    35       M  2537

### Crear nuevamente otro DataFrame, pero ahora con los siguientes datos:

In [1]:
#Tabla2:
#    Nombre  Edad  Genero    Id
#  Gabriela    27       F  1736
#    Carlos    36       M  3524
#    Samuel    22       M  9837
#      Jhon    29       M  7367

### Combina los 2 dataframes anteriores en uno solo e imprimelos en pantalla:

In [ ]:
#### El resultado deberia de quedar:
#    Nombre  Edad  Genero    Id
#    Carmen    26       F  1743
#     Pedro    39       M  9264
#     Maria    28       F  8362
#     Julio    35       M  2537
#  Gabriela    27       F  1736
#    Carlos    36       M  3524
#    Samuel    22       M  9837
#      Jhon    29       M  7367