In [1]:
import pandas as pd

## Cargar el Archivo CSV "ejemplo" con la libreria pandas y visualizar su contenido (Archivo Adjunto en la Tarjeta de Trello):

In [15]:
ejemplo = pd.read_csv('example.csv')
print(ejemplo)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## Cargar el Archivo Excel "Excel_Sample.xlsx" (archivo Adjunto en la Tarjeta de Trello) y visualizar su contenido (Utilizando la libreria Pandas):

In [24]:
excel = pd.read_excel('Excel_Sample.xlsx')
print(excel)

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

## Crea un DataFrame de Pandas con los siguientes Datos e imprimelos en pantalla:

In [65]:
datos1 = {'Nombres': ["Carmen", "Pedro", "María", "Julio"],
         'Edades': [26, 39, 28, 35],
         'Género': ["F", "M", "F", "M"],
         'ID': [1743, 9264, 8362, 2537]}
df1 = pd.DataFrame(datos1, index=["", "", "", ""])
print(df1)

 Nombres  Edades Género    ID
  Carmen      26      F  1743
   Pedro      39      M  9264
   María      28      F  8362
   Julio      35      M  2537

## Crear nuevamente otro DataFrame, pero ahora con los siguientes datos:

In [66]:
datos2 = {'Nombres': ["Gabriela", "Carlos", "Samuel", "Jhon"],
         'Edades': [27, 36, 22, 29],
         'Género': ["F", "M", "M", "M"],
         'ID': [1736, 3524, 9837, 7367]}
df2 = pd.DataFrame(datos2, index=["", "", "", ""])
print(df2)

   Nombres  Edades Género    ID
  Gabriela      27      F  1736
    Carlos      36      M  3524
    Samuel      22      M  9837
      Jhon      29      M  7367

## Combina los 2 dataframes anteriores en uno solo e imprimelos en pantalla:

In [72]:
df = pd.concat([df1, df2], axis = 0)
print(df)

   Nombres  Edades Género    ID
    Carmen      26      F  1743
     Pedro      39      M  9264
     María      28      F  8362
     Julio      35      M  2537
  Gabriela      27      F  1736
    Carlos      36      M  3524
    Samuel      22      M  9837
      Jhon      29      M  7367