In [5]:
import pandas as pd

### Cargar el Archivo CSV "ejemplo" con la libreria pandas y visualizar su contenido (Archivo Adjunto en la Tarjeta de Trello):

In [9]:
pd.read_csv("example.csv")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Cargar el Archivo Excel "Excel_Sample.xlsx" (archivo Adjunto en la Tarjeta de Trello) y visualizar su contenido (Utilizando la libreria Pandas):

In [10]:
archivow2 = pd.read_excel("Excel_Sample.xlsx")
print(archivow2)

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Crea un DataFrame de Pandas con los siguientes Datos e imprimelos en pantalla:

In [70]:
#Tabla1:
#   Nombre  Edad  Genero    Id
#   Carmen    26       F  1743
#    Pedro    39       M  9264
#    Maria    28       F  8362
#    Julio    35       M  2537

data = { "Nombre": ["Carmen", "Pedro", "Maria", "Julio"], 
        "Edad": [26, 39, 28, 35], 
        "Genero": ["F", "M", "F", "M"], 
        "Id": [1743, 9264, 8362, 2537]}
frame = pd.DataFrame(data, columns = ["Nombre", "Edad", "Genero", "Id"], index = [" ", " ",  " ", " "])
frame

   Nombre  Edad Genero    Id
   Carmen    26      F  1743
    Pedro    39      M  9264
    Maria    28      F  8362
    Julio    35      M  2537

### Crear nuevamente otro DataFrame, pero ahora con los siguientes datos:

In [52]:
#Tabla2:
#    Nombre  Edad  Genero    Id
#  Gabriela    27       F  1736
#    Carlos    36       M  3524
#    Samuel    22       M  9837
#      Jhon    29       M  7367

data2 = {"Nombre": ["Gabriela", "Carlos", "Samuel", "Jhon"], "Edad": [27, 36, 22, 29], "Genero": ["F", "M", "M", "M"], "Id": [1736, 3524, 9837, 7367]}
frame2 = pd.DataFrame(data2, columns = ["Nombre", "Edad", "Genero", "Id"], index = [" ", " ", " ", " "])
frame2

     Nombre  Edad Genero    Id
   Gabriela    27      F  1736
     Carlos    36      M  3524
     Samuel    22      M  9837
       Jhon    29      M  7367

### Combina los 2 dataframes anteriores en uno solo e imprimelos en pantalla:

In [53]:
pd.concat([frame, frame2])

     Nombre  Edad Genero    Id
     Carmen    26      F  1743
      Pedro    39      M  9264
      Maria    28      F  8362
      Julio    35      M  2537
   Gabriela    27      F  1736
     Carlos    36      M  3524
     Samuel    22      M  9837
       Jhon    29      M  7367