## CARGAR LAS LIBRERIAS: Pandas, Numpy y matplotlib.pyplot as plt

In [1]:
import numpy as np
from numpy.linalg import inv
import pandas as pd
import matplotlib.pyplot as plt

## Cargar el archivo "Advertising.csv" y crear un dataframe con las columnas "TV" y "Sales" e imprimirlas en pantalla.

In [2]:
data=pd.read_csv("Advertising.csv")
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [7]:
df=pd.DataFrame(data, columns=["TV","Sales"])
df

        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2    9.3
3    151.5   18.5
4    180.8   12.9
..     ...    ...
195   38.2    7.6
196   94.2    9.7
197  177.0   12.8
198  283.6   25.5
199  232.1   13.4

[200 rows x 2 columns]

In [2]:
x = np.array(df['TV'])
y = np.array(df['Sales'])
plt.scatter(x, y)

x = np.array([np.ones(200),x]).T

b = inv(x.T @ x) @ x.T @ y
plt.plot([0,300], [b[0]+b[1]*0, b[0]+b[1]*300 ], c = 'blue')
plt.xlabel("TV"); plt.ylabel("Sales")
plt.show()

NameError: name 'np' is not defined

## Programa Opcional

In [12]:
valor = int(input("Valor en X: "))
incremento = 0.0475 * valor + 7.0325
print("El incremento en Y será: ", incremento, "según ese valor de X")

Valor en X: 200
El incremento en Y será:  16.5325 según ese valor de X